.authorCol {
  max-width: inherit !important;
}

.imageOnlyAuthorRow {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 1.5rem;
}

.imageOnlyAuthorCol {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}
